<div id="div-account-dad">
    <div id="div-account-son">
        <div id="div-account-title">
            <h1>Login</h1>
        </div>

        <div id="div-account-form">
            <form>

                <div id="div-account-form-username" class="div-account-form">
                    <label for="name" id="label-account-form-name" class="label-account-form">Name</label>
                    <input type="text" name="name" id="input-account-form-name" autocomplete="off" class="input-account-form" required placeholder="Type here">
                </div>
                
                <div id="div-account-form-password" class="div-account-form">
                    <label for="password" id="label-account-form-password" class="label-account-form">Password</label>
                    <input type="password" name="password" id="input-account-form-password" class="input-account-form" required placeholder="Type here">
                    <button id="btn-view-password"><img id="img-account-form-icon-eye" src="../../../assets/eyeopen.svg"></button>
                </div>

                <div id="div-account-form-message">
                    <p>Don't have an account yet? <a href="#">Register</a></p>
                </div>

                <div id="div-account-form-submit">
                    <input id="input-account-form-submit" type="submit" value="Login">
                </div>

            </form>
        </div>

    </div>
</div>