<div id="div-mytask-dad">
    <div id="div-mytask-son">
        <div id="div-mytask-title">
            <div id="div-mytask-name">
                <h1>Your task</h1>
            </div>
            <div id="div-mytask-option">
                <button id="button-mytask-nt" (click)="newtaskpage()">New task</button>
                <button id="button-mytask-circle" (click)="backpage()"><img src="../../../assets/arrow.svg" class="icon"></button>
            </div>
        </div>
        <div id="div-mytask-hud-dad">
            <div id="div-mytask-hud-son">

                <div class="div-mytask-cub">
                    <div class="div-mytask-cub-title">
                        <p class="P-mytask-cub">Go out with the dog...</p>
                    </div>
                    <div class="div-mytask-cub-option">
                        <button class="div-mytask-button">

                            <div class="div-mytask-decoration1"></div>
                            <div class="div-mytask-decoration2"></div>

                        </button>
                    </div>
                </div>


                <div class="div-mytask-cub">
                    <div class="div-mytask-cub-title">
                        <p class="P-mytask-cub">Go out with the dog...</p>
                    </div>
                    <div class="div-mytask-cub-option">
                        <button class="div-mytask-button">

                            <div class="div-mytask-decoration1"></div>
                            <div class="div-mytask-decoration2"></div>

                        </button>
                    </div>
                </div>

                <div class="div-mytask-cub">
                    <div class="div-mytask-cub-title">
                        <p class="P-mytask-cub">Go out with the dog...</p>
                    </div>
                    <div class="div-mytask-cub-option">
                        <button class="div-mytask-button">

                            <div class="div-mytask-decoration1"></div>
                            <div class="div-mytask-decoration2"></div>

                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>