<div id="div-index-dad">
    <div id="div-index-son">
        <div id="div-index-message">
            <div id="div-index-message1">
                <h1 id="H1-index-message1">HI, Andrioh</h1>
            </div>
            <div id="div-index-message2">
                <h2 id="H2-index-message2">What would you like to do?</h2>
            </div>
            <div id="div-index-options">
                <button id="btn-index-newtask" (click)="buttonnewtask()">NEW TASK</button>
                <button id="btn-index-viewtask" (click)="buttonmytask()">VIEW TASK</button>
            </div>
        </div>
        <div id="div-index-yourtask">

            <div id="div-index-message3">
                <h4>Your task</h4>
            </div>

            <div id="div-index-yourtask-son">

                <button (click)="TaskView()" *ngFor="let item of arraytask | slice:0:1 " id="button-index-yourtask-task1" class="button-index-yourtask-class">
                    <h5 [innerHTML]="item.done ? '<s>' + item.content + '</s>' : item.content"></h5>
                </button>
                
                <button (click)="TaskView()" *ngFor="let item of arraytask | slice:1:2 " id="button-index-yourtask-task2" class="button-index-yourtask-class">
                    <h5 [innerHTML]="item.done ? '<s>' + item.content + '</s>' : item.content"></h5>
                </button>

            </div>

            <div id="div-index-options2">
                <a (click)="TaskView()">View all task</a>
            </div>

        </div>
    </div>
</div>