<div id="div-newtask-dad">
    <div id="div-newtask-son">
        <div id="div-newtask-title">
            <div id="div-newtask-name">
                <h1>New task</h1>
            </div>
            <div id="div-newtask-option">
                <button id="button-newtask-nt" (click)="backpage()">Back</button>
                <button id="button-newtask-circle" (click)="backpage()"><img src="../../../assets/arrow.svg" class="icon"></button>
            </div>
        </div>
        <div id="div-newtask-hud-dad">
            <form id="form-newtask-hud-son">

                <div id="div-newtask-form">
                    <label for="label-newtask" id="label-newtask">What needs to be done?</label>
                    <input type="text" name="label-newtask" id="input-newtask" autocomplete="off" [(ngModel)]="ngmodelnewtask" placeholder="Reply e-mails" required>
                </div>
                <div id="div-newtask-option2">
                    <input id="input-newtask2" (click)="newtaskclick()" type="submit" value="Create">
                </div>

            </form>
        </div>
    </div>
</div>